.plats {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
  .plats img {
    width: 150px;
    height: auto;
  }
  
  .plats h4 {
    display: inline-block;
  }

.presentation img {
  width: 100%;
  height: 50%;
}

section {
  background-color: aquamarine;
}

.presentation {
  color: blue;
  text-align: center;
}
